h1 {
	text-align: center;
}
.table>tbody>tr>td {
	vertical-align: middle;
}
.img-item {
	max-width:100%;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.form-inline {
	display: inline;
}